* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.padre {
  height: 100vh;
  margin: 0px auto;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
}

.hijo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo-1 {
  background-color: green;
}

.hijo-2 {
  background-color: bisque;
}

.hijo-3 {
  background-color: blue;
}

.hijo-4 {
  background-color: red;
}

.hijo-5 {
  background-color: yellow;
}
