* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  background-color: red;
}

.sandbox {
  color: rgb(57, 206, 46);
  font-style: italic;
  line-height: 1.5;
  font-weight: 900;
  font-size: 36px;
}

.list {
  list-style: none;
}

.square {
  position: relative;

  width: 100px;
  height: 100px;
  background-image: url("https://free-images.com/lg/dd2c/port_au_prince_haiti.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aqua;
  background-position: right center;
}

.square-2 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: yellow;
}

.square-3 {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: green;
  z-index: 2;
}

.element-position {
  position: absolute;
  top: 80px;
  width: 100px;
  z-index: 1;
  height: 100px;
  background-color: blue;
}
