.container {
  width: 280px;
  height: 380px;
  border-radius: 6px;
  background-color: #c4c4c4;
}

.img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__label {
  opacity: 0.5;
  font-size: 12px;
}

.card__body {
  padding: 0px 10px;
}

.card__title {
  font-size: 18px;
}

.card__paragraph {
  opacity: 0.7;
  font-size: 14px;
}

.author {
  gap: 10px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
}

.author__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author__data {
  gap: 2px;
  display: flex;
  flex-direction: column;
}
